<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/landing-page">
        <img src="assets/img/candy_icon.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Sweetopia
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/landing-page">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-1">
            <a class="btn btn-primary mr-2" routerLink="/login" role="button">Sign in</a>
            <a class="btn btn-primary" routerLink="/register" role="button">Sign up</a>
        </form>
    </div>
</nav>