.body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-div, .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.login-form {
    min-width: 150px;
    max-width: 300px;
    min-height: 350px;
    max-height: 550px;
    width: 100%;
    height: 100%;
}

.logo-name {
    padding: 20px;
}
 
.logo-name img {
    height: 75px;
    width: 75px;
}

.logo-name h1 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 40px;
    margin-left: 10px;
}

.inputs {
    padding: 10px 20px;
}

.inputs mat-label input {
    font-family: 'Nunito', sans-serif;
}

.buttom-container {
    padding: 0 20px;
    margin: 5px 0;
}

.buttom-container button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 6px;
}

.buttom-container button:not([disabled]):hover {
    background-color: #0062cc;
}

.google-auth {
    padding: 0 20px;
    margin: 15px auto;
}

.google-auth img {
    width: 22.5px;
    height: 22.5px;
    margin-right: 10px;
}

.google-auth button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 4px 0;
    margin: 3px 0;
}

.google-auth button:hover {
    background-color: #efefef;
}

.register {
    padding: 10px 20px;
}

.register p, .register a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.register a {
    font-weight: 500;
    color: #0062cc;
}

.register a:hover {
    color: red;
}

.full-width {
    width: 100%;
}

.image-center {
    display: block;
    margin: 0px auto;
}

.text-center {
    display: flex;
    justify-content: center;
}

.text-no-decorated {
    text-decoration: none;
}

.bg-primary {
    background-color: #007bff;
}