<div class="body">
<div *ngIf="waiting"><mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar></div>
<div class="main-div">
    <mat-card class="login-container">
        <div class="logo-name">
            <img src="assets/img/candy_icon.png" alt="Sweetopia's icon">
            <h1>Sweetopia</h1>
        </div>
        <form class="login-form" [formGroup]="loginFormGroup">
            <div class="inputs">
                <mat-form-field class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Userame" [formControl]="usernameFormControl" [errorStateMatcher]="matcher" formControlName="username">
                    <mat-error *ngIf="usernameFormControl.hasError('required')">
                        Username is <strong>required</strong>.
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" matInput placeholder="Password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>.
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.errors?.minlength && !passwordFormControl.hasError('required')">
                        Password is short (min. 8 characters).
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="buttom-container">
                <button class="full-width bg-primary" [disabled]="loginFormGroup.invalid" mat-raised-button color="warn" (click)="login()">Sign in</button>
            </div>
            <div class="google-auth">
                <button class="full-width" mat-raised-button color="link" (click)="loginG()">
                    <img src="assets/img/google.png" alt="google authentication">
                    Sign in with Google
                </button>
            </div>
            <div class="register text-center">
                <p>Don't have an account? <a routerLink="/register" class="text-no-decorated">Sign up!</a></p>
            </div>
        </form>
    </mat-card>
</div>
</div>