<mat-card class="register-container">
    <div class="logo-name">
        <h1>Add Register</h1>
    </div>
    <form class="register-form" [formGroup]="addRegisterFormGroup">
        <div class="inputs">
            <mat-form-field class="full-width">
                <mat-label>Fullname</mat-label>
                <input matInput placeholder="Fullname" [(ngModel)]="value" formControlName="fullname">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Age</mat-label>
                <input matInput placeholder="Age" type="number" formControlName="age">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email" formControlName="email">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-dialog-actions align="center">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="addRegisterFormGroup.invalid" (click)="addRegister()">Add</button>
            </mat-dialog-actions>
        </div>
    </form>
</mat-card>