<app-header></app-header>
<div class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">
                <h1 class="text-white text-center main-title">Sweetopia</h1>
                <h3 class="text-white text-center py-3 px-5 main-subtitle">Taking sweet and elegant to the next level</h3>
                <div class="d-flex justify-content-center mb-3">
                    <a class="btn btn-outline-warning btn-lg mr-4" routerLink="/landing-page" role="button">Know us!</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-danger btn-lg mr-4" routerLink="/login" role="button">Sign in</a>
                    <a class="btn btn-danger btn-lg" routerLink="/register" role="button">Sign up</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6 d-flex justify-content-center">
                <img src="assets/img/1.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>