.main-div {
    height: 100vh;
}

.main-div, .logo-name, .filter_add-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-container {
    min-width: 475px;
    max-width: 950px;
    width: 100%;
}

.filter_add-container {
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin-bottom: 20px;
}

.filter_add-form, .registers-dash {
    min-width: 800px;
    max-width: 801px;
    width: 100%;
}

.filter_add-form {
    min-height: 50px;
    max-height: 51px;
    height: 100%;
}

.logo-name {
    padding: 20px;
}

.logo-name h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.inputs {
    padding: 10px 20px;
}

.inputs mat-label input {
    font-family: 'Nunito', sans-serif;
}

.buttom-container {
    padding: 0;
    margin: 10px 0px;
}

.buttom-container button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 6px;
}

.buttom-container button:not([disabled]):hover {
    background-color: #0062cc;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 47.5%;
}

.bg-primary {
    background-color: #007bff;
}