<div class="main-div">
    <mat-card class="register-container">
        <div class="logo-name">
            <h1>Register</h1>
        </div>
        <form class="register-form" [formGroup]="registerFormGroup">
            <div class="inputs">
                <mat-form-field class="full-width">
                    <mat-label>Fullname</mat-label>
                    <input matInput placeholder="Fullname" formControlName="fullname">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <div class="full-width" style="display:flex; justify-content: space-between;">
                    <mat-form-field class="half-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                    <mat-form-field class="half-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="buttom-container">
                    <button class="full-width bg-primary" [disabled]="registerFormGroup.invalid" mat-raised-button color="warn" (click)="register()">Sign up</button>
                </div>
                <div class="sign-in">
                    <a routerLink="/login" class="text-center text-no-decorated">Already have an account? Sign in</a>
                </div>
            </div>
        </form>
    </mat-card>
</div>